@media only screen and  (min-width: 1200px) {
	
}

@media only screen and (max-width: 991px) {
	.mobileMenu {
		display: inline-block;
	}
	.topMenu{
		/* display: none; */
	}
	.siteHeader {
		position: relative;
		padding: 20px 0;
	}
	.mainMenu li {
		list-style-type: arabic-indic;
		display: block;
		margin-right: 0;
		margin-bottom: 0;
	}
	.sidelogo {
		display: block;
		text-align: center;
		margin-bottom: 40px;
	}
	.sidelogo img {
		height: 35px;
	}
	.menuWrapper {
		width: 55%;
		height: 100vh;
		background: #efefef;
		right: 0;
		top: 0;
		z-index: 999;
		position: fixed;
		text-align: left;
		box-shadow: 45px 0 40px 43px #010101;
		padding: 40px;
		display: none;		
	}
	.crossbtn{
		display: inline-block;
	}
	.container {
		width: 100%;
	}	
	.mainMenu li a{
		color: #2C2A6D;
	}
	.mainMenu li a:hover {
		text-decoration: none;
		border-bottom: 2px solid transparent;
		color: #2C2A6D;
	}
	.topMenu {
		text-align: left;
	}
}


@media only screen and (max-width: 771px) {	
	
}


@media only screen and (max-width: 551px) {
	.menuWrapper {
		padding: 40px 20px;
	}
	.mainMenu li a {
		font-size: 16px;
	}
}